[submodule "design-templates/tahta"]
	path = design-templates/tahta
	url = https://github.com/zcag/tahta
[submodule "design-templates/scientific-diagrams/janosh-diagrams"]
	path = design-templates/scientific-diagrams/janosh-diagrams
	url = https://github.com/janosh/diagrams
[submodule "design-templates/scientific-diagrams/typst-fletcher"]
	path = design-templates/scientific-diagrams/typst-fletcher
	url = https://github.com/Jollywatt/typst-fletcher
[submodule "design-templates/scientific-diagrams/cetz"]
	path = design-templates/scientific-diagrams/cetz
	url = https://github.com/cetz-package/cetz
[submodule "design-templates/scientific-diagrams/beautiful-mermaid"]
	path = design-templates/scientific-diagrams/beautiful-mermaid
	url = https://github.com/lukilabs/beautiful-mermaid
[submodule "design-templates/conference-posters/quarto-typst-templates"]
	path = design-templates/conference-posters/quarto-typst-templates
	url = https://github.com/quarto-ext/typst-templates
[submodule "design-templates/conference-posters/sleek-scientific-poster"]
	path = design-templates/conference-posters/sleek-scientific-poster
	url = https://github.com/weygoldt/typst_poster
[submodule "design-templates/conference-posters/simple-research-poster"]
	path = design-templates/conference-posters/simple-research-poster
	url = https://github.com/aneziac/simple-research-poster
[submodule "design-templates/assets/bioicons"]
	path = design-templates/assets/bioicons
	url = https://github.com/duerrsimon/bioicons
[submodule "design-templates/scientific-diagrams/opentikz"]
	path = design-templates/scientific-diagrams/opentikz
	url = https://github.com/opentikz/opentikz
[submodule "design-templates/scientific-diagrams/academic-figures"]
	path = design-templates/scientific-diagrams/academic-figures
	url = https://github.com/sai-tv/academic-figures
[submodule "design-templates/scientific-diagrams/scientific-figure-skills"]
	path = design-templates/scientific-diagrams/scientific-figure-skills
	url = https://github.com/enesgul23/scientific-figure-skills
